*{
    margin: 1px;
}
body {
    margin: 0;
    background: radial-gradient(circle, #d6f0ff,#ffe0e9, #d9fce2,#e6e6fa,#ffffff);    background-size: cover;
    background-position: center;
}

h1 {
    font-size: xx-large;
    margin-left: 20px;
    color: white;
}

#n-bar {
    display: flex;
    background-color: rgb(232, 70, 6);
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}

ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-left: auto;
    margin-right: 40px;
    font-size: x-large;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    color: white;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: yellow;
}

#second p {
    text-align: center;
    font-weight: bolder;
    margin-top: 5%;
    color: black;
    margin-bottom: 8%;
}
p{
    color: black;
    
}
#thard p {
    width: 550px;
    line-height: 1.30;
    margin-left: 50px;
    font-size: 20px;
    color: black;
}

#btn1, #btnchoose {
    margin-left: 40px;
    padding: 16px 60px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: large;
    border: none;
    cursor: pointer;
}

#btn1:hover, #btnchoose:hover {
    background-color: rgb(75, 71, 71);
    color: white;
}

#list1{
    color: white;
}

.li{
    color: black;
    margin-bottom: 5%;
}

h2{
    color: black;
}

span{
    font-weight: bold;
    
}