body {
    font-family: Arial;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
}

#display {
    width: 270px;
    height: 60px;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 15px;
    justify-content: center;
}

button {
    background-color: rgb(112, 112, 112);
    height: 40px;
    font-size: 22px;
    cursor: pointer;
    color: white;
    padding:5px 15px;
}

.clear {
    background-color: red;
    color: white;

    padding: 5px 105px;
}

.delete {
    background-color: orange;
    color: white;
}


.delete:hover {
    background-color: darkorange;
}
button:hover {
    opacity: 0.8;
}

.operator{
    background-color: blue;
    color: white;
    font-size: x-large;
}
