*{
    margin: 1px;
}
body {
    margin: 0;
    background-color: white;
    background-position: center;
    background-image: url(https://img.freepik.com/free-vector/smooth-white-wave-background_52683-55288.jpg?w=2000);
     background-repeat: no-repeat;
   background-size: cover;
   
}

h1 {
    font-size: xx-large;
    margin-left: 20px;
    color: white;
}

#n-bar {
    display: flex;
    background-color: hwb(229 2% 9%);
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    height: 8vh;
}

ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-left: auto;
    margin-right: 40px;
    font-size: x-large;
}

ul li a {
    text-decoration: none;
    
    color: white;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: yellow;
}
#p1siva{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: xx-large;
    font-weight: bolder;
}

#second p {

   width: 700px;
   line-height: 1.80;
   margin-top: 180px;
   margin-left: 100px;
   font-size: xx-large;
   font-weight: 30px;
   color: #111111;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


p{
    color: black;
    
}
#thard p {
    width: 1200px;
    line-height: 1.30;
    margin-left: 100px;
    color: black;
    margin-top: 60px;
    font-size: 25px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 


#btn1:hover, #btnchoose:hover {
    background-color: rgb(75, 71, 71);
    color: white;
}

.list1{
    margin-left: 100px;
    font-size: larger;
    font-weight: bolder;
    

}
 .li2{
line-height: 2.0;
font-size: x-large;
}
.list1 h2{
    font-size: xx-large;
}
.list1 h3{
    font-size: xx-large;
    margin-top: 20px;
}


.li{
    color: black;
    margin-bottom:10%;
    line-height: 2.0;
    font-size: x-large;

}




span{
    font-weight: bold;
    margin-bottom:20px ;
    
}

.form-container {
    display: none;
    margin-top: 15px;
    border: 1px solid rgb(130, 130, 136);
    padding: 10px 30px;
    border-radius: 5px;
    
    

}
.form-container h2 {
    text-align: center;
    padding: 8PX 13px;
    background-color: blue;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
   
}
.form-container label {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 10pxpx;
    
}
    


input {
    width: 100%;
    margin-bottom: 15px;
    padding: 13px 10px;
    border-radius: 5px;
    border: #232222;
    background-color: rgb(216, 224, 233);
    font-size: larger;
}
.form-container button {
    background-color: #0a58ca;
    color: white;
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#apply-btn {
    padding: 20px 120px;
    border-radius: 10px;
    margin: 20px auto;   /* center */
    font-size: large;
    border: none;
    cursor: pointer;
    display: block;
    background-color: rgb(63, 206, 63);
}


button:hover{
   background-color: rgb(238, 10, 10);
    color: white;
}

.form-container button{
    display: block;
    margin: 20px auto;
}

#apply-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}
.llll{
    margin-bottom: 30px;

}
.l22{
    margin-bottom: 40px;
    font-size: larger;
    margin-left: 1600px;
}